<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicaAccesoDatos.Properties.Settings.bd_telefonosConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=bd_telefonos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>