<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Cuenta/login.aspx" defaultUrl="~/" timeout="2880" />
    </authentication>
    <compilation debug="false" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <membership>
      <providers>
        <add name="AspNetSqlProvider"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="LocalSqlServer"
        enablePasswordRetrieval="true"
        requiresQuestionAndAnswer="true"
     applicationName="/"
        passwordFormat="Clear" />
      </providers>
    </membership>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>
