<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cc"
     providerName="System.Data.SqlClient"
     connectionString=
     "Data Source=.\sqlexpress; Initial Catalog=bd_telefonos; Integrated Security=True"
    />
    <!--
    <add name="cc"
     providerName="System.Data.OleDb"
     connectionString=
     "Provider=Microsoft.ACE.OLEDB.12.0; Data Source=C:./../../bd_telefonos.accdb;"
    />
    -->
  </connectionStrings>
</configuration>